+++
title = "Regula Payments NZ"
linkTitle = "Regula Payments"

+++

{{< blocks/cover title="Regula Payments" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">	
	<p class="lead mt-5">It's time to <strong>Burn the Card</strong><br />and <strong>FREE</strong> your Business from <br /><strong>Exorbitant</strong> Payment Processing charges!</p>
	
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Regula aims is to ___disrupt___ the ***Online Payment Processing Industry*** for New Zealand SaaS business.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Realize the Open Banking Opportunity" %}}
Free your business from the ***Greedy*** encumbent Payment Processor fees!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-user-graduate" title="Smart Subscriptions"  %}}
Our focus is recurring Payments which can be for any* amount you need; even only a few cents!

*Well almost any ;)
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Built for Developers" url="https://twitter.com/docsydocs" %}}
Find out how to get started and latest features on Github!
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">Project currently under Development</h1>
</div>

{{< /blocks/section >}}


